fastapi
uvicorn[standard]
paho-mqtt
websocket-client
python-dotenv
sqlalchemy
alembic
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
pydantic[email]
# For development and testing
pytest
httpx
