### Docker compose env file template
### Copy to `infra/.env` and fill values.

MQTT_BROKER=
DB_HOST=
DB_PORT=

MYSQL_USER=
MYSQL_DATABASE=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

MQTT_HOST=
MQTT_PORT=
